*{
    margin: 0;
}

#bloc_page{
    min-width: 1100px;
    background-color:#ebebeb;
}

#banniere_entete {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

#logo img {
    width: 150px;
    height:70px;
    margin: 3%;
}

#Titre_Principal {
    white-space: nowrap;
    color:darkorange;

}

#Titre{
    height: 30%;
    width: 30%;
    align-self: center;
    padding: 1em;
    background-color:rgba(255, 255, 255, 0.58);

}
#Titre h1,h2,h3{
    flex-wrap: nowrap;
    padding: 0;
    text-align: center;
    color :#ffffff; 
    text-shadow: 3px 3px 6px rgb(0, 0, 0);

}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
    display: inline-block;

}

nav a {
    font-size: 1.3em;
    color: #f8fada;
    padding-bottom: 3px;
    text-decoration: none;

}

nav a:hover
{
    border-bottom: 3px solid coral;
}
#btnConnexInscrip {
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
}

.bouton {
    background-color: #ffa44f;
    border-style:outset;
    border-width : 2px;
    border-color:#ffa44f;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size:13px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
    height: 2.5em;
}

.bouton:hover{
    background-color: white;
    color: #ffa44f;
    cursor: pointer;
}

.bouton[value=Rechercher] {
    height: 2.5em;
    width: 10em;
    align-self: center;
}

header {
    background-size:100% 20em;
    height:20em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}

#Menu {
    white-space: nowrap;
    padding: 0.8em 0 0.8em 0;
    background-color: rgba(70, 79, 82, 0.89);
    display: flex;
    justify-content: space-around;
}

input[name="champ"] {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 5px 10px;
    width: 98.5%;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: normal;
    /*letter-spacing: 1px;*/
    margin-right: 1em;
    white-space: nowrap;
    height: 2.8em;
}

#formRechSimple {
    display: flex;
}


/*Footer*/
#footer
{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url(../images/fond_footer.jpg)repeat;

}

#footer h1
{
    font-size:18px;
    margin-left: 50px;
    color: white;
    font-family: anonymousregular;
}

#footer a
{
    display: inline-block;
    float: center;
    padding-top: 5px;
    color: grey;
    font-style: italic;
    padding-bottom: 10px;
    margin-left: 20px;

}

#footer p
{
    margin-left: 30px;
    color: grey;
}

#footer img
{
    flex-flow: column;
    margin-left:8px;
    margin-right: 15px;
    padding-bottom:5px;
    padding-right:5px;
    padding-top: 10px;
    width: 30px;
    height: 30px;
}
/*fin footer*/

#bloc_centre {
    display: flex;
    flex-wrap: nowrap;
    padding: 2%;

}

section div {
    margin: 0% 2% 2% 2%;
    box-shadow: 2px 2px 6px #8d8d8d;
    background-color: white;
    padding-bottom: 2%;
    text-align: center;

}

#gauche {
    width: 65%;   

}

#droite {
    width: 35%;
}

#bloc_centre h1 {
    text-align: center;
    color: #606565;
    margin: 0 10%;
}

#description p {
    text-align: justify;
    padding: 3% 10%;
}

#bloc_centre h1 {
    padding: 2%;
}


#carte {

    padding-top: 2em;
    display: flex;
    justify-content: center;
    box-shadow: none;
}

#bloc_centre img {
    width: 30%;
    vertical-align: middle;
    margin: 1%;
    background-color: white;

}

#album {
    box-shadow: none;
    padding: 4% 1%;
    background-color: #ebebeb;
}

#btnRejoindre {
    margin: 1% 2% 5% 2%;
    color: white;
    background-color:#2daac1;
    border-color: #2daac1;
}

#btnRejoindre:hover{
    background-color: white;
    color: #2daac1;
}

#profils img {
    box-shadow: 2px 2px 6px #8d8d8d;
    background-color: white;


}

#btnMembre {
    background-color: #2daac1;
    color: white;
    border-color: #2daac1;

}

#btnMembre:hover {
    background-color: white;
    color: #2daac1;
}

#icon {
    box-shadow: none;
    padding: 5%;
}



#membres {

    box-shadow: none;
    background-color: #ebebeb;
}


#profils{
    box-shadow: none;
    background-color: #ebebeb;
    padding: 2% 1% 0 1%;
}

#profilGroupe{
    box-shadow: none;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    width: 7em;
    height: 7em;
    align-content: center;
    padding-right: 1%;
    
}

#profilGroupe img{
    width: 100%;
    height: 80%;
}

#bloc_membres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%; 
    
}

